*{
    margin:0px;
    padding:0px;
}
body{
    background-image: url('../images/registerbackground.jpg');
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;
}
#card{
    background-color: whitesmoke;
    height:659px;
    width:509px;
    border:3px,solid,rgb(250,240,230);
}
#registertext{
    font-size: 30px;
    text-transform: uppercase;
    font-weight:700;
    position:relative;
    top:10px;
    left:180px;
}
#inputname{
    height:54px;
    width: 400px;
    border-width:1px;
    border-style: solid;
    border-radius: 3px;
    border-color: black;
    position:relative;
    top:63px;
    left:50px;
    font-size: large;
    font-weight: 700;
    text-align: center;
}
.input{
    height:54px;
    width: 400px;
    border-width:1px;
    border-style: solid;
    border-radius: 3px;
    border-color: black;
    position:relative;
    top:63px;
    left:50px;
    font-size: large;
    font-weight: 700;
    text-align: center;
    margin-top:40px;
}
#submitbutton{
    background-color:rgb(138,193,61);
    height:40px;
    width:70px;
    position:relative;
    left:45%;
    top:90px;
    text-transform:uppercase;
}
#login{
    background-color:rgb(250,240,230);
    position:relative;
    height:30px;
    width:140px;
    left:38%;
    top:100px;
}