<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/homestyle.css" th:href="@{css/homestyle.css}">
</head>
<body>
    <div id="navbar">
        <a href="#">Home</a>
        <a href="#">Whytd</a>
        <a href="#">Subscribe</a>
        <a href="#">login|signup</a>
    </div>

    <div id="logo"></div>
    <div id="cuisines">
        <h1 id="cuisinetext" class="cb">Cuisines</h1><br>
        <div id="nic" class="cb"></div>
        <div id="sic" class="cb"></div>
        <div id="jc" class="cb"></div>
        <div id="gc" class="cb"></div>
        <label id="northcuisinedescription"><h2>Northindian Cuisine</h2><br>
            North Indian cousine is consist of fully <br>
            delicious foods with panner, nan, mushroom, <br>
            rice ,raita, gulab jamun, 
        </label>
        <label id="southcuisinedescription">
            <h2>Southindian Cuisine</h2><br>
            South indian cuisine is simply delicious <br>
            and easily digestible. It consists of dosa,<br>
             idli, saaru/rasam, and huli/sambar.
        </label>
        <label id="jaincuisinedescription">
            <h2>Jain Cuisine</h2><br>
            Jain thali consists of vegetables, squash<br>
            beans, peas fruits and lettuce, and<br> 
            excludes onions and garlic, root vegetables.
        </label>
        <label id="gujaraticuisinedescription">
            <h2>Gujarati Cuisine</h2><br>
                gujarati thali consists of rotli,dal or<br> 
                kadhi,rice,and shaak/sabji with<br>
                different combination of vegetables<br>
                and spices.
        </label>
    </div>
    <div id="wtd">
        <label id="wtdtext">why tiffin delight</label><br>
        <div id="bestingredients" class="photowtd"></div>
        <div id="gharkakhana" class="photowtd"></div>
        <div id="amazingvariety" class="photowtd"></div><br>
        <label id="bestingredientstext">best ingredients</label>
        <label id="gharkakhanatext">ghar ka khana</label>
        <label id="amazingvarietytext">amazing variety</label>
    </div>
    <label id="subscriptiontext">SUBCRIPTIONS</label>
    <div id="subcriptions">
                
        <div id="daily">
            <center><h1>Daily</h1>
            <h2>R.s 99 </h2><br>
            <h2>for one day</h2><br>
            <h2>one day trial<br><br>
            lunch/dinner<br><br>
                pre-order required<br><br>
                doorstep delivery</h2></center>
        </div>
        <div id="monthly">
            <center><h1>Monthly</h1>
            <h2>Rs.80</h2><br>
                <h2>rs.2080/month</h2>
                <br><br><br>
                <h2>mon-sat<br><br>
                26 meals/month<br><br>
                doorstep delivery<br><br>
                lunch/dinner</h2></center>
        </div>
    </div>

    

    <div id="testimonials">

    </div>
</body>
</html>