<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/loginstyle.css" th:href="@{css/loginstyle.css}">
</head>
<body>
    <div id="card">
        <form action="login" method="post">
    <label id="label">Login</label>
    <input type="email" placeholder="Email" id="email" name="email">
    <input type="password" placeholder="Password" id="password" name="password">
    <label id="checkbox"><input type="checkbox" >Show Password</label>
    <button id="submit">SIGN IN</button>
    <a href="" id="forgot">Forgot</a>
    <a href="" id="newuser">New User/Sign Up</a>
        </form>
    </div>
</body>
</body>
</html>